[flake8]
exclude = .git,.venv,__pycache__
max-line-length = 135

# E303 Too many blank lines (3): Two blank lines are expected between functions and classes and one blank line is expected between methods of a class.
# W503 Line break occurred before a binary operator
extend-ignore = E303,W503

# core/context.py and modules/fc_tracker.py contain some enums/dataclasses whose looks benefit greatly from their values being aligned
# E221: multiple spaces before operator
per-file-ignores =
    core/context.py: E221
    modules/fc_tracker.py: E221
